@import url(http://fonts.googleapis.com/css?family=Merriweather:900);

#pageHeader {
	background-color: #4f81bd;
}

#pageHeader a:hover {
	text-decoration: none;
}

#pageHeader h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #ffffff;
	text-shadow: -1px 0 #054696, 0 1px #054696, 1px 0 #054696, 0 -1px #054696;
	margin: 0;
	font-size: 63px;
	line-height: 70px;
}

body {
	background-color: #f6f6f6;
}

#app, #leftSidebar, #rightSidebar {
	background-color: #ffffff;
	box-shadow:  0 0 10px #aaaaaa;
	padding-left: 6px;
	padding-right: 6px;
}

#app p {
	font-size: 130%;
}

.container-fluid {
	padding: 0;
}
